body {
  padding: 0;
  margin: 0;
}

.services {
  background-color: #f5f5f5;
  color: #2d3e52;
  /* padding: 20px; */
}

.service-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5%;
  justify-items: center;
  align-items: flex-start;
}

.service-div {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 320px;
  transition: transform 0.3s ease-in-out;
}

.service-div h6 {
  font-size: 1.6rem;
  color: #ffffff;
  margin-bottom: 10px;
}

.service-div p {
  font-size: 1rem;
  color: #ffffff;
  line-height: 1.6;
}

span {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 20px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  padding: 1.8rem;
}
